<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>app-client-side-simple - employee</title>
    <link rel="stylesheet" href="../../assets/css/site.css" >
    <link rel="stylesheet" href="../../assets/css/painel.css" >
</head>
<body>
    <div class="container">
        <header>
            <a href="../../index.html" name="homepage">My Company</a>
        </header>
        <section class="painel views-employee-index">
            <nav>
                <a href="edit.html?id=0">New</a>
            </nav>

            <div class="title-main">Employees</div>

            <div class="row">
                <div class="col">
                    <input type="text" name="filter">
                    &nbsp;
                    <button name="search">Search</button>
                </div>
            </div>

            <div class="row">
                <table name="grid">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Department</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="3">Total:&nbsp;<span>0</span></th>
                        </tr>
                    </tfoot>
                </table>
            </div>

        </section>
        <footer>
            2018 &copy; My Company
        </footer>
    </div>

    <script src="../../assets/js/app.views.employee.index.js"></script>
    <script src="../../assets/js/store.js"></script>
    <script>
        new app.views.employee.index(document.querySelector(".views-employee-index"));
    </script>
</body>
</html>
