<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>app-client-side-simple - departament</title>
    <link rel="stylesheet" href="../../assets/css/site.css" >
</head>
<body>    
    <div id="app">
        <header>
            <a href="../../index.html">My Company</a>
        </header>    
        <section class="container views-departament-index">     
            <nav>
                <a href="edit.html">New</a>
            </nav>
            <div class="functionality">Departament</label>
            <div class="row">
                <div class="col">
                    <input type="text" name="filter">
                </div>
                <div class="col">
                    <button name="search">Search</button>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <table name="grid">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>                            
                        </tbody>
                    </table>
                </div>
            </div>

        </section>
        <footer>
            2018 &copy; My Company
        </footer>
    </div>

    <script src="../../assets/js/app.views.departament.index.js"></script>
    <script src="../../assets/js/db.js"></script>
    <script>
        new app.views.departament.index(document.querySelector(".views-departament-index"));
    </script>
</body>
</html>